//////// Utility Classes
.xl-text {
  font-size: 4.063rem; // 65px
}
///////////////////////////////////

//////// Header Classes
.header {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url('../images/header-background.jpg') left center no-repeat;
  background-size: cover;
  height: 37.5rem; // 600px
}

.vertical-decoration {
  top: 12%;
  width: 1.5rem; // 24px
}
///////////////////////////////////

//////// Navbar
.navbar {
  transition: all 0.5s ease-in-out;
}

.navbar-sticky {
  opacity: 0.8;
}

// Social Media Icons in Navbar
.navbar .social--icons {
  padding: 0 0.8rem;
}

///////////////////////////////////

//////// Contact Classes
.hr-heading {
  display: inline-block;
  width: 3.5rem;
  height: 0.125rem;
  margin-top: 0.625rem;
  border: none;
  background-color: var(--bs-primary);
  opacity: 1;
}
///////////////////////////////////

//////// Details Classes
.details .vertical-decoration {
  top: 0;
  left: 0;
  width: 1.5rem;
}

.details-2 .vertical-decoration {
  top: 5%;
  right: 0;
  width: 1.5rem;
}
///////////////////////////////////

//////// Video Classes
.video-play-btn {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2rem; // 32px
  height: 2.75rem; // 44px
  border-radius: 50%;
  display: block;
  box-sizing: content-box;
  padding: 1.125rem 1.25rem 1.125rem 1.75rem;
  cursor: pointer;
}

.video-play-btn::before {
  content: '';
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4.75rem; // 76px
  height: 4.75rem; // 76px
  border-radius: 50%;
  display: block;
  background: var(--bs-primary);
  cursor: pointer;
  animation: pulse-border 1.5s ease-in-out infinite;
}

.video-play-btn::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4.375rem; // 70px
  height: 4.375rem; // 70px
  border-radius: 50%;
  display: block;
  background: var(--bs-primary);
  cursor: pointer;
  transition: all 200ms;
}

@keyframes pulse-border {
  0% {
    transform: translate(-50%, -50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

.video-play-btn span {
  position: relative;
  display: block;
  z-index: 3;
  top: 0.375rem; // 6px
  left: 0.25rem; // 4px
  width: 0;
  height: 0;
  // Drawing Triangle Button
  border-left: 1.625rem solid #fff; // 26px
  border-top: 1rem solid transparent; // 16px
  border-bottom: 1rem solid transparent; // 16px
}

// Video Modal
.video-modal .modal-dialog {
  overflow: hidden;
  max-width: 70%;
  margin-top: 1.25rem; // 20px
  margin-left: auto;
  margin-right: auto;

  // Center the modal vertically and horizontally
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh; // Full screen height to center vertically

  // Optional: Ensuring it's vertically centered even when the content is short
  .modal-content {
    margin-top: auto;
    margin-bottom: auto;
  }
}
///////////////////////////////////

//////// Project Modals Classes
.project-modals .modal-dialog {
  max-width: 70%;
  margin-top: 8.125rem; // 130px
}
///////////////////////////////////

//////// Footer Classes
.footer-social--icons a {
  color: white;
  text-decoration: none;
  transition: all 0.2s ease;
}
.footer-social--icons a:hover,
.footer-social--icons a:active {
  color: var(--bs-primary);
}
///////////////////////////////////

//////// Media Queries
// Tablet Size
@media (max-width: 992px) {
  // Navbar Items
  ul.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  li.nav-item {
    padding: 0.5rem 0;
  }

  // Social Media Icons in Navbar
  .social--icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0.8rem;
  }

  .xl-text {
    font-size: 3.125rem; // 50px
  }

  .header {
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)),
      url('../images/header-background.jpg') center center no-repeat;
    background-size: cover;
  }

  .details-2 .col-lg-6 h2 {
    margin-top: 2rem;
  }

  .video-points {
    padding: 0 !important;
    text-align: center;
  }

  .video-points .col-lg-4 {
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 768px) {
  #contact form {
    margin-top: 2rem;
  }
}
///////////////////////////////////
